.details-header {
  display: flex;
  justify-content: space-between;

  a {
    ion-icon {
      margin: 0 5px -2px;
    }
  }
}

ion-card {
  ion-card-content {
    .balance-item {
      span {
        margin: 0 5px;
      }
    }

    form {
      display: flex;
    
      ion-button {
        text-transform: capitalize;
      }
    
      ion-input {
        border: 1px solid #efefef;
        max-width: 250px;
        border-radius: 10%;
        margin: 0 10px 0 16px;
      }
    }
  }
}
